<!doctype html>
<html lang="en">
<head>
    <title>Live Cam Face Detection</title>
    <style>
    	body {
  			background: #fafafa;
  			color: #333333;
  			margin-top: 3rem;
		}

		h1, h2, h3, h4, h5, h6 {
  			color: #444444;
  			font-size: 4rem;
  			text-align: center
		}
		img {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
  			margin-bottom: auto;
  			width: 70%;
		}
	</style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Cam Face Detection</h3>
            <img src="{{ url_for('webcam') }}" width="700%">
        </div>
    </div>
</div>
</body>
</html>